<div class="modal-content">
	<!-- Header de la ventana -->
	<div class="modal-header">
		<button type="button" class="close btn-info" ng-click="vmm.close()">
		    <span style="font-size:13px;">Cancelar</span><strong>&#32;&times;</strong> 
		</button>
		<h4 class="modal-title">
            <span><strong>Registro Usuario</strong></span>
		</h4>
	</div>
	
	<form class="form-inline" ng-submit="vmm.changePassword()">
		<div class="modal-body">
			<div class="form-group">
				<div class="input-group">
					<input class="form-control form-login-user well" autofocus type="password" placeholder="Nueva contraseña" required ng-model="vmm.newPass1">
					<br>
					<input class="form-control form-login-user well" type="password" placeholder="Repetir contraseña" required ng-model="vmm.newPass2">
				</div>
			</div>
		</div>
		<p ng-if="vmm.badPass">Contraseña incorrecta</p>
		<div class="modal-footer">
			<button type="submit" class="btn btn-md btn-info center-block">Cambiar contraseña</button>
		</div>
	</form>
</div>