<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-3">
            <!-- div para con opciones para ordenar -->
            <div ng-if="vm.parent.device!=null">
                <p>Ordenar por...</p>
                <label>
                    <input type="radio" ng-model="vm.order" value="name"> Nombre
                </label>
                <br/>
                <label>
                    <input type="radio" ng-model="vm.order" value="-size"> Tamaño
                </label>
                <br/>
                <label>
                    <input type="radio" ng-model="vm.order" value="lastModified"> Ultima Modificacion
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <!-- div para el filtrado -->
            <div ng-if="vm.parent.device!=null">
                <input type="text" ng-model="vm.filterText" placeholder="Buscar...">
                <br>
                <p>
                    <small>Filtrar por...</small>
                </p>
                <label>
                    <input type="radio" ng-model="vm.filter" value="both"> Ambos
                </label>
                <br/>
                <label>
                    <input type="radio" ng-model="vm.filter" value="directory"> Directorios
                </label>
                <br/>
                <label>
                    <input type="radio" ng-model="vm.filter" value="file"> Archivos
                </label>
            </div>
        </div>

        <!-- botones creacion de carpetas y subida de archivos -->
        <div ng-if="vm.permission===0" class="col-md-5">
            <form class="form-inline">
                <div class="pull-right">
                    <input type="text" placeholder="Nuevo directorio" ng-model="vm.newDir" class="form-control">
                    <button type="button" class="btn btn-sm btn-primary form-control" ng-click="vm.mkDir()">Crear Carpeta</button>
                    <button class="btn btn-sm btn-primary form-control" ngf-select="vm.uploadFiles($file, $invalidFiles)" ng-disabled="vm.disabledUpload">
                        <i class="glyphicon glyphicon-cloud-upload"></i>Subir archivo</button>
                </div>
            </form>
        </div>
        <!-- div de alert de ui-boostrap -->
        <div uib-alert ng-repeat="alert in vm.alerts" ng-class="[bold, 'alert-'+alert.type]" close="vm.closeAlert($index)" dismiss-on-timeout="3000">
            <b class="pull-right alerta">{{alert.text}}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-11 col-md-offset-1">
            <!-- ruta actual -->
            <h3 ng-bind="'/'+vm.parent.device+vm.currentPath"></h3>
            <!-- tabla con las rutas -->
            <table class="table no-border">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th class="text-center">Tamaño</th>
                        <th class="text-center">Última Modificación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="vm.parent.rootFile!=null">
                        <td class="text-center">
                            <i class="glyphicon glyphicon-level-up"></i>
                        </td>
                        <td colspan="4" style="text-align: left;">
                            <a ng-click="vm.getParentFiles()">parent</a>
                        </td>
                    </tr>
                    <tr ng-repeat="file in vm.files | nameAndTypeFilter:vm.filter:vm.filterText | orderBy:vm.order ">
                        <td class="text-center">
                            <i ng-class="['glyphicon', file.directory ? 'glyphicon-folder-open':'glyphicon-file']"></i>
                        </td>
                        <td class="mi-hover">
                            <a ng-href="{{vm.href(file)}}" ng-if="!file.directory" ng-bind="file.name" download></a>
                            <a ng-click="vm.getFiles(file)" ng-if="file.directory" ng-bind="file.name"></a>
                        </td>
                        <td class="text-center" ng-bind="file.size==null ? '-':(file.size | number)" />
                        <td class="text-center" ng-bind="vm.getLastModified(file.lastModified) | date:'dd/MM/yyyy HH:mm:ss'" />
                        <td ng-if="vm.permission===0" class="text-center">
                            <button class="btn btn-xs btn-info basura" ng-click="vm.deleteFile($index,file)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- progress bar -->
    <div>
        <uib-progressbar class="progress-striped active" value="vm.porcent" type="{{vm.vm.typeProgressBar}}" ng-if="vm.porcent!=0">{{vm.porcent}}%</uib-progressbar>
    </div>

    <!-- div de alert de ui-boostrap -->
    <div uib-alert ng-repeat="alert in vm.alerts" ng-class="[bold, 'alert-'+alert.type]" close="vm.closeAlert($index)" dismiss-on-timeout="3000">
        <b>{{alert.text}}</b>
    </div>
</div>