<div class="container">
    <div class="col-md-offset-3 col-md-6 col-md-offset-3 bajar">
        <form class="form-inline" ng-submit="vm.login()" style="padding:25px; border: 1px solid rgb(224, 219, 219)">
            <div class="form-group">
                <label>Nombre </label>
                <input type="text" ng-model="vm.username">
                <span style="margin-right: 10px;"></span>
                <label for="">Contraseña</label>
                <input type="text" ng-model="vm.password">
                <br>
                <input type="checkbox" ng-model="vm.rememberMe" />
                <small> Remember me</small>
                <span ng-show="vm.authenticationError()" class="help-block">
                    Please check your credentials and try again.
                </span>
                <br>
                <br>
                <div class="text-center">
                    <input class="btn btn-primary btn-block" type="submit" value="enviar">
                </div>
        </form>
        </div>
    </div>
</div>