<div class="navbar navbar-default" ng-controller="NavbarController as vm">
    <div class="navbar-header">
        <a class="navbar-brand" href="#!home">File Manager</a>
    </div>
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a href="#!home" class="mdi-action-home"> <i class="glyphicon glyphicon-home"></i></a>
            </li>
            <li ng-click="vm.logout()">
                <a>
                    <i class="glyphicon glyphicon-off"></i>Sign out</a>
            </li>
            <li ng-if="vm.role().indexOf('admin')!==-1">
                <a href="#!admin">Administracion</a>
            </li>
            <li>
                <a ng-click="vm.changePass()">Cambiar contraseña</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript:void(0)">
                    {{vm.username}}              
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- <style>
td {
	align-content: center;
}

.hoverGrey:hover {
	background-color: #080808;;
}
</style>-->