body {
  font-family: Arial, sans-serif;
  background: #f1edf1;
  color: black;
}

@media only screen and (max-width: 767px) {
  .span-pull{
    display: none;
  }
  .label-login{
    width: 80% !important;
  } 
  .input-login{
    width: 100% !important;
    margin-bottom: 2%;
  }
}

.bajar {
  padding: 20px;
  margin-top: 15%;
}

table {
  background: #f1edf1; 
  color: black;
}

table.no-border td,
table.no-border th {
  border: 0 !important;
}

.basura i {
  font-size: 12px;
}
td a:hover,
td i:hover,
td.basura:hover {
  cursor: pointer;
}

.mi-hover:hover {
  background: #e0e9e7;
}

td i.glyphicon-folder-open:hover,
td i.glyphicon-file:hover,
td i.glyphicon-level-up:hover {
  cursor: auto;
}

.bocadillo{
  z-index: 1;
  position: fixed;
  left: 75.5%;
  top: 85%;
  width: 300px;
  /* font-family: "Indie Flower", cursive; */
}

/* .bocadillo {
  z-index: 1;
  position: fixed;
  left: 65.5%;
  top: 25%;
  border-radius: 5px;
  background-color: black; 
  color: black;
  padding: 10px;
  width: 225px;
  height: 40px;
  font-family: "Indie Flower", cursive;
  font-size: 1em;
} */
/* 
.myCSS3id{
border: 5px solid #111;
-moz-box-shadow: 35px 35px 7px #999999;
-moz-border-bottom-right-radius: 15px;
-moz-border-radius:25px;
padding: 15px 25px;
height: inherit;
width: 300px;
}
*/
ul.nav li a{
  cursor: pointer;
}